<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li class="active">
      <a href="#pq-elite" data-toggle="tab">Elite</a>
    </li>
    <li>
      <a href="#pq-middle" data-toggle="tab">Middle</a>
    </li>
    <li>
      <a href="#pq-grit" data-toggle="tab">Gritensity</a>
    </li>
    <li>
      <a href="#pq-all" data-toggle="tab">All</a>
    </li>
  </ul>
  <div class="tab-content">
    <% include helpers/functions.ejs %>
    <% var woodMoney = [{id: 'pq-elite', type: 'Elite'},{id: 'pq-middle', type: 'Middle'},{id: 'pq-grit', type: 'Gritensity'},{id: 'pq-all', type: 'All'}]; %>
    <% for(var x = 0; x < woodMoney.length; x++) { %>
      <div id="<%= woodMoney[x].id; %>" class="tab-pane fade in <%= (x > 0) ? null : 'active'; %> table-condensed table-responsive table-striped stripe">
        <%- buildDataTable(woodMoney[x].type, queryData, data); %>
      </div>
    <% } %>
  </div>
</div>