<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li class="active">
      <a href="#pq-elite" data-toggle="tab">Elite</a>
    </li>
    <li>
      <a href="#pq-middle" data-toggle="tab">Middle</a>
    </li>
    <li>
      <a href="#pq-grit" data-toggle="tab">Gritensity</a>
    </li>
    <li>
      <a href="#pq-all" data-toggle="tab">All</a>
    </li>
  </ul>
  <div class="tab-content">
    <% include helpers/functions.ejs; %>
  </div>
</div>