@charset "utf-8";

$puckiq-color: #636b6f;

$body-family: Raleway, sans-serif;
$body-background-color: #f5f8fa;
$body-color: $puckiq-color;
$body-line-height: 1.6;
$body-font-size: 14px;

$title-weight: 400;
$title-color: $puckiq-color;
$subtitle-weight: 300;
$subtitle-color: $puckiq-color;

$content-heading-color: $puckiq-color;

@import "../../../node_modules/bulma/bulma.sass";

button.is-extra-small { font-size: 0.65em; }
select.is-small { height: 2em !important; }
.pad-left { padding-left: 17px;}

@import "./autocomplete.scss";
@import "./data_layout.scss";

/* home */

.logo-mask {
  margin-top:30px;
  padding: 14px 0;
  max-height: 80px;
  overflow: hidden;
}

/* navbar */
/* https://github.com/jgthms/bulma/issues/1381 */
.navbar-item {

  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }

    &.is-active {
      .navbar-dropdown {
        display: block;
        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        font-size: 0.875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20;
      }
    }
  }
}

.filters-form input[type=checkbox], .filters-form input[type=radio], .filters-form input[type=text], .filters-form select {
  margin: 0 4px 0 2px;
  line-height: normal;
}

.filters-form {
  padding-top: 7px;
  .level {
    padding-top: 7px;
    margin-bottom: 0;
  }
}

.position-picker {
  label {
    margin-right: 7px;
  }
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 40px;
    width: 40px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}




