@charset "utf-8";

$puckiq-color: #636b6f;

$body-family: Raleway, sans-serif;
$body-background-color: #f5f8fa;
$body-color: $puckiq-color;
$body-line-height: 1.6;
$body-font-size: 14px;

$title-weight: 400;
$title-color: $puckiq-color;
$subtitle-weight: 300;
$subtitle-color: $puckiq-color;

$content-heading-color: $puckiq-color;

@import "../../../node_modules/bulma/bulma.sass";
/*
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
*/


