/*body {
    font-family: Raleway, sans-serif ;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #f5f8fa;
}*/

body table {
    font-size: 12px;
    color: black;
}

table {
    margin: 0 0 0 16px;
}

tr.hidden {
    display: none;
}

.page-header {
    margin: 0px;
    border-bottom: none;
}

.page-header h2 {
    margin: 0px;
}

.page-header h4 {
    margin: 0 0 16px 0;
}

.content {
    padding: 17px;
}

.col-padded {
    float: left;
    padding-left: 17px;
}

.col {
    float: left;
}

.toi_minutes {
    width: 40px;
}

#woodmoney-visual {
    width: 1030px;
    display: flex;
    flex-direction: row;
}

#chart-container {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

#player-info {
    width: 330px;
    padding-top: 15px;
}

#player-info table {
    width: 100%;
    margin: 0;
}

#player-info table th.highlight, #player-info table td.highlight {
    background-color: #84c9f7;
}

#selected-seasons {
    display: flex;
    flex-direction: row;
    margin-left: 17px;
}

#selected-seasons div {
    padding: 2px 6px;
    margin-left: 4px;
    cursor: pointer;
}

#selected-seasons div.selected {
    background-color: #e1e1e1;
}

.padded-content { padded-content : 17px; }

.wm-filters input[type=checkbox], .wm-filters input[type=radio], .wm-filters input[type=text], .wm-filters select {
    margin: 0 4px 0 2px;
    line-height: normal;
}

.team-dropdown .column a { padding-top: 0.1em; padding-bottom: 0.1em;  }

.homepage-teams {
    display: flex; align-items: stretch; width : 800px;
}

.homepage-teams p {
    line-height: 16px;
}

.logo-mask {
    margin-top:30px;
    padding: 14px 0;
    max-height: 80px;
    overflow: hidden;
}

.button.is-extra-small { font-size: 0.65em; }
