body table {
    font-size: 12px;
    color: black;
}

table {
    margin: 0 0 0 16px;
}

tr.hidden {
    display:none;
}

.page-header {
    margin: 0px;
    border-bottom: none;
}

.page-header h2 {
    margin: 0px;
}

.page-header h4 {
    margin: 0 0 16px 0;
}

.content {
    padding: 17px;
}

.col-padded {
    float: left;
    padding-left : 17px;
}

.col {
    float: left;
}

.toi_minutes {
    width: 40px;
}

#woodmoney-visual {
    width: 1030px;
    display: flex;
    flex-direction: row;
}

#chart-container {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

#player-info {
    width: 330px;
    padding-top: 15px;
}

#player-info table{
    width: 100%;
    margin: 0;
}

#player-info table th.highlight, #player-info table td.highlight{
    background-color: #84c9f7;
}

#table-container {
    width: 1000px;
}
.scrollable-container {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #dddddd;
    margin: 10px 0 ;
}

table#puckiq th {
    white-space:nowrap;
}

table#puckiq td {
    vertical-align:top;
    border-bottom: 1px solid #ddd;
    padding: 2px 5px;
}

