<div class="container-fluid" role="main">
    <div class="page-header">
        <h2>
            <%= sub_title %>
            <% if(player) { %><small><%= player.positions %></small><% } %>
        </h2>
        <%- include('_partials/filters') %>
    </div>
</div>

<div style="padding-left: 17px;">

    <div id="no-chart" style="display: none; padding: 0 0 17px 27px; font-style: italic;">
        Chart is hidden when competition type is 'all' since all players have a time on ice % of 100%.
    </div>
    <div id="woodmoney-visual" style="display:none;">
        <div id="chart-container">
            <div style="width: 100%; height: 100%;">
                <canvas id="bubble-chart"></canvas>
                <div style="display:flex;">
                    <div style="flex:1"></div>
                    <div style="flex:1">
                        <span>X Axis: </span>
                        <select id="x-axis">
                            <option value="dffpct">DFF%</option>
                            <option value="gfpct">GF%</option>
                            <option value="cfpct">CF%</option>
                            <option value="fo60">FO/60</option>
                        </select>
                    </div>
                    <div style="flex:1">
                        <input type="checkbox" id="chart-preference" /> Show chart on page load
                    </div>
                </div>
            </div>
        </div>
        <div id="player-info">
            <div style="padding: 17px; text-align: center;">Tip: Click on a player bubble to the summary here</div>
        </div>
    </div>

    <table id="puckiq" class="table table-bordered table-condensed table-hover">
    </table>

    <div id="table-footer" style="text-align: center">
    </div>

</div>

<script type="text/javascript">
    //used by date range only...
    var wmState = {
        request : <%- JSON.stringify(request) %>,
    };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<script src="/puckiq/js/woodmoney_chart.js"></script>
<script src="/puckiq/js/woodmoney_data.js"></script>
<script src="/puckiq/js/woodmoney.js"></script>

