<div class="content" style="width: 800px;">

    <h3>About WoodMoney</h3>
    <div>
        The WoodMoney method of ranking NHL players into 3 tiers of Quality got its genesis in the comments section of the
        venerable Oilers blog lowetide.ca in 2015.
        Lowetide posters Woodguy and GMoney would pour through the shift data of games noting how coaches matched up players and
        how those matchups affect their results.  They were dissatisfied with the most common tools to determine Quality of
        Competition and decided to figure out a new method.
        It was decided that a database of results that could be broken down using Quality of Competition tiers was required and
        GMoney set off to create it. For the full story and methodology behind WoodMoney please read this:
        <a href="http://becauseoilers.blogspot.com/2016/07/woodmoney-new-quality-of-competition.html">
            http://becauseoilers.blogspot.com/2016/07/woodmoney-new-quality-of-competition.html</a>
    </div>

    <h3>Who we are</h3>

    <div>
        <h4><a href="http://twitter/com/Woodguy55">@Woodguy55 aka WG</a></h4>
        -WG is a Managing Partner in a private Alberta company that sells a lot of wood.<br />
        -Begged, pleaded and cajoled talented people to spend some of their precious free time away from their
        families to build a hockey data website without being paid.
    </div>

    <div>
        <h4><a href="http://twitter/com/Oilersnerdalert">@Oilersnerdalert aka GMoney</a></h4>
        -GMoney is a serial entrepreneur and occasional CEO.<br />
        -Analytics professional available for consulting work.<br />
        -Wrote the software that mined the data and extracted the statistics - basically the whole damn database.
    </div>

    <div>
        <h4><a href="http://twitter/com/Oilersnerdalert">@OilFanInYYC</a></h4>
        - Zsolt has 20+ years of IT experience and has worked on everything from end user devices to large data
        centres to infrastructure applications. Zsolt is currently a technical lead for a large airline within Canada.<br />
        - When it comes to PuckIQ, Zsolt originally registered the puckiq.com domain back in 2011 with the aspiration
        of building a analytics website. Unfortunately life got in the way and PuckIQ had to be put on the back burner. After meeting GMoney & WG on Twitter back in 2016, and reading about WoodMoney over at WG’s blog, Zsolt offered up the domain and his infrastructure/server operations experience to help make PuckIQ a reality. Zsolt currently manages the backend of PuckIQ including the data delivery mechanism as well as the overall server infrastructure.
    </div>

    <div>
        <h4><a href="http://twitter/com/frozenpools">@frozenpools</a></h4>
        - Sean is the CTO of a Canadian/UK based machine learning company.<br />
        - He has a long-time passion for hockey analytics which includes contributing to behindthenet.ca, organizing AB Hockey Analytics conferences and frozenpools.ca (2008-2018) the first fantasy hockey site to incorporate advanced stats.<br />
        - Building upon v1.0 of puckiq Sean rejigged the client and web projects into version 2.0 of PuckIQ or what it is today.
    </div>

    <div>
        <h4><a href="http://twitter/com/dawgbone98">@dawgbone98</a></h4>
        -Responsible for getting the front end of puckiq.com version 1.0 up and working. <br />
        -Application developer who follows the Oilers with what is left of his blackened heart.
    </div>


</div>
