<div class="container">
        <div class="content" style="margin-top: 1.5rem;">
        <h1>PuckIQ Glossary of Stats and Definitions</h1>
        <div style="padding-top: 17px">
            <table>
                <tr><td style="width: 150px;">Corsi</td><td>All shots at the net (Includes missed shots, blocked shots and all shots on net)</td></tr>
                <tr><td>CA</td><td>Corsi Against (raw count)</td></tr>
                <tr><td>CA/60</td><td>Corsis against per 60 minutes of time on ice (TOI)</td></tr>
                <tr><td>CA60RC</td><td>Relative Corsi against per 60 minutes of TOI releative to team mates for specific level of competition</td></tr>
                <tr><td>CF</td><td>Corsi For (raw count)</td></tr>
                <tr><td>CF%</td><td>Corsi For/Against ratio (CF/(CF+CA))</td></tr>
                <tr><td>CF%RC</td><td>Corsi ratio relative to team mates for specific level of competition</td></tr>
                <tr><td>CF/60</td><td>Corsi for per 60 minutes of TOI</td></tr>
                <tr><td>CF60RC</td><td>Relative Corsi for per 60 minutes of TOI releative to team mates for specific level of competition</td></tr>
                <tr><td>CTOI%</td><td>Competition TOI percentage (percentage of player's total TOI spent vs specific compeition level)</td></tr>
                <tr><td>Dangerous Fenwick</td><td>Weighted shot metric using shot distance location and type of shot to give each shot a "danger" value.</td></tr>
                <tr><td>DFA</td><td>Dangerous Fenwick against (raw count)</td></tr>
                <tr><td>DFA/60</td><td>Dangerous Fenwick against per 60 minutes of TOI</td></tr>
                <tr><td>DFA60RC</td><td>Relative Dangerous Fenwick against per 60 minutes of TOI releative to team mates for specific level of competition</td></tr>
                <tr><td>DFF</td><td>Dangerous Fenwick For (raw count)</td></tr>
                <tr><td>DFF%</td><td>Dangerous Fenwick For/Against ratio (DFF/(DFF+DFA))</td></tr>
                <tr><td>DFF%RC</td><td>Dangerous Fenwick ratio relative to team mates for specific level of competition</td></tr>
                <tr><td>DFF/60</td><td>Dangerous Fenwick for per 60 minutes of TOI</td></tr>
                <tr><td>DFF60RC</td><td>Relative Dangerous Fenwick for per 60 minutes of TOI releative to team mates for specific level of competition</td></tr>
                <tr><td>DZ</td><td>Defensive zone faceoff (raw count)</td></tr>
                <tr><td>EVTOI</td><td>Even Strength Time On Ice</td></tr>
                <tr><td>Fenwick</td><td>All shots at the net (Includes missed shots, shots on net) but excluding blocked shots</td></tr>
                <tr><td>FA</td><td>Fenwick against (raw count)</td></tr>
                <tr><td>FA/60</td><td>Fenwick against per 60 minutes of TOI</td></tr>
                <tr><td>FF</td><td>Fenwick for (raw count)</td></tr>
                <tr><td>FF%</td><td>Fenwick For/Against ratio (FF/(FF+FA))</td></tr>
                <tr><td>FF/60</td><td>Fenwick for per 60 minutes of TOI</td></tr>
                <tr><td>FO/60</td><td>Faceoff per 60 minutes of TOI. Theory is that the more FO/60 a player sees the more the coach is specifically deploying them in that situation.</td></tr>
                <tr><td>GA</td><td>Goals against (raw count)</td></tr>
                <tr><td>GA/60</td><td>Goals against per 60 minutes of TOI</td></tr>
                <tr><td>GF</td><td>Goals For</td></tr>
                <tr><td>GF%</td><td>Goals For/Against ratio (FF/(FF+FA))</td></tr>
                <tr><td>GF/60</td><td>Goals for per 60 minutes of TOI</td></tr>
                <tr><td>NZ</td><td>Neutral zone faceoff (raw count)</td></tr>
                <tr><td>ONSH%</td><td>On ice shooting percentage</td></tr>
                <tr><td>ONSV%</td><td>On ice save percentage</td></tr>
                <tr><td>OZ</td><td>Offensive zone faceoff (raw count)</td></tr>
                <tr><td>PlayerId*</td><td>NHL's unique id for player</td></tr>
                <tr><td>PDO</td><td>Called SPSV% by the NHL, is the sum of a team's shooting percentage and its save percentage and is an indicator of luck</td></tr>
                <tr><td>Shot</td><td>Shot that hits the net only</td></tr>
                <tr><td>SA</td><td>Shots against (raw count)</td></tr>
                <tr><td>SA/60</td><td>Shots against per 60 minutes of TOI</td></tr>
                <tr><td>SAC</td><td>Score and Venue adjusted corsi (we use Micah Blake McCurdy's calculation for his. Thanks Micah!)</td></tr>
                <tr><td>SACA</td><td>SAC against (raw count)</td></tr>
                <tr><td>SACA/60</td><td>SAC against per 60 minutes of TOI</td></tr>
                <tr><td>SACF</td><td>SAC for (raw count)</td></tr>
                <tr><td>SACF%</td><td>SAC For/Against ratio (SACF/(SACF+SACA))</td></tr>
                <tr><td>SACF/60</td><td>SAC against per 60 minutes of TOI</td></tr>
                <tr><td>SF</td><td>Shots for (raw count)</td></tr>
                <tr><td>SF%</td><td>Shots For/Against ratio (SF/(SF+SA))</td></tr>
                <tr><td>SF/60</td><td>Shots for per 60 minutes of TOI</td></tr>
                <tr><td>Woodmoneytier</td><td>Level of competition of forwards faced by the player (Elite, Middle, Gritensity)</td></tr>
            </table>
        </div>
    </div>
</div>
