<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Welcome to PuckIQ
    <small>Home of WoodMoney</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div>
    <h3>Players</h3>
    <a href="/player-search">Search</a> -
    <a href="/player-woodmoney">Woodmoney</a> -
    <a href="/player-wowy">Wowy</a>

    <h3>Team Woodmoney</h3>
    <table style="width: 800px;">
      <thead>
      <tr>
        <td><h4>Metropolitan</h4></td>
        <td><h4>Atlantic</h4></td>
        <td><h4>Central</h4></td>
        <td><h4>Pacific</h4></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="/teams/was">Washington Capitals</a></td>
        <td><a href="/teams/tor">Toronto Maple Leafs</a></td>
        <td><a href="/teams/col">Colorado Avalanche</a></td>
        <td><a href="/teams/edm">Edmonton Oilers</a></td>
      </tr>
      </tbody>
    </table>

  </div>

</section>
<!-- /.content -->