<div style="padding: 17px">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Welcome to PuckIQ
      <small>Home of WoodMoney</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div>
        <!--
      <h3>Players</h3>
      <a href="/player-search">Search</a> -
      <a href="/player-woodmoney">Woodmoney</a> -
      <a href="/player-wowy">Wowy</a>
      -->

      <h3>Team Woodmoney</h3>
      <div style="display: flex; align-items: stretch; width : 800px;">
        <% divisions.forEach(function(division){ %>
          <div style="flex: 1;">
            <h4><%= division.name %></h4>
            <% division.teams.forEach(function(team){ %>
              <p><a href="/teams/<%= team._id %>"><%= team.name %></a></p>
            <% }); %>
          </div>
        <% }); %>

      </div>

    </div>

  </section>
  <!-- /.content -->

</div>
