<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../_partials/head %>
  <% include _partials/head %>

  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/<%= skin %>.min.css">

  <!-- Site wide CSS -->
  <link rel="stylesheet" href="/puckiq/css/puckiq.css">

  <!-- Page specific CSS -->
  <link rel="stylesheet" href="_home.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition <%= skin %> sidebar-mini sidebar-collapse">
  <div class="wrapper">
    <header class="main-header">
      <% include ../_partials/header %>
    </header>

    <aside class="main-sidebar">
      <% include ../_partials/left-aside %>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <% include _body %>
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <% include ../_partials/footer %>
    </footer>
  </div>

  <% include ../_partials/scripts %>
  <% include _partials/scripts %>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.min.js"></script>
  <!-- PuckIQ Module JS -->
  <script src="_home.js"></script>
</body>

</html>