
<div class="container">

  <section class="content" style="width: 900px; padding-top: 70px;">
    <p class="title has-text-danger is-4">
      Reminder: Always be careful with small sample sizes :)
      <!--Please note we are still in the early days of the season. Be careful with small sample sizes :)-->
    </p>
    <p class="title" style="margin-bottom: 14px;">
      Welcome to PuckIQ
      <span class="subtitle">Home of WoodMoney</span>
    </p>
    <p>Read more about our methodology at
      <a href="http://becauseoilers.blogspot.com/2016/07/woodmoney-new-quality-of-competition.html" target="_blank">
        WoodBlog
      </a>
    </p>
  </section>

  <section class="content" style="padding-top: 0;">

    <h5 class="title is-5 has-text-weight-semibold" style="margin-bottom: 0">Team Woodmoney</h5>
    <div class="homepage-teams">
      <% divisions.forEach(function(division){ %>
        <div>
          <h4 class="subtitle is-5 has-text-weight-medium"><%= division.name %></h4>
          <% division.teams.forEach(function(team){ %>
            <p><a href="/woodmoney?team=<%= team._id %>"><%= team.name %></a></p>
          <% }); %>
        </div>
      <% }); %>

    </div>

  </section>
</div>
