<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Welcome to PuckIQ
    <small>Home of WoodMoney</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

</section>
<!-- /.content -->