  <body style="overflow-x: scroll;">

    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: White; border-bottom: solid 1px #d3e0e9;">

      <div class="navbar-brand">

        <a class="navbar-item" href="/" style="height: 50px;">
            <div class="logo-mask">
              <img style="max-height:80px; margin-top:-15px; margin-left: 20px;" src="/puckiq/img/<%= skin %>-puckiq.png" />
            </div>
        </a>

        <a role="button" class="navbar-burger" data-target="puckiq-nav" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="puckiq-nav" class="navbar-menu" style="margin-left: 0px;">

        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Woodmoney
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/woodmoney" style="justify-content: center; padding-top: 0.1em; padding-bottom: 0.1em;">
                Show All Teams
              </a>
              <%- include('_partials/team-dropdown', {page_type : 'woodmoney'}) %>
            </div>
          </div>

          <a href="/woodwowy" class="navbar-item" >
            WoodWOWY
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Shifts
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/shifts" style="justify-content: center; padding-top: 0.1em; padding-bottom: 0.1em;">
                Show All Teams
              </a>
              <%- include('_partials/team-dropdown', {page_type : 'shifts'}) %>
            </div>
          </div>

          <a href="/glossary" class="navbar-item">
            Glossary
          </a>

          <a href="/about" class="navbar-item">
            About
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item" style="display: block; position: relative;">
            <input type="text" id="player-search" placeholder="Enter player name" class="input autocomplete-search" style="width: 250px; margin-top: 8px;" />
            <div class="autocomplete-results x-player-results" style="display:none; text-align: left; top: 49px;">
            </div>
          </div>
        </div>

      </div>
    </nav>

    <script src="/puckiq/js/autocomplete.js"></script>
    <script src="/puckiq/js/navbar.js"></script>
