  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://puckiq.com"><img style="max-height:200px; margin-top:-80px;" src="/puckiq/img/main-puckiq.svg" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
              <ul class="dropdown-menu columns-2">
              <li>
                <ul class="list-unstyled col-sm-6">
                <li>Atlantic</li>
                <li><a href="/teams/BOS">BOS</a></li>
                <li><a href="/teams/BUF">BUF</a></li>
                <li><a href="/teams/DET">DET</a></li>
                <li><a href="/teams/FLA">FLA</a></li>
                <li><a href="/teams/MTL">MTL</a></li>
                <li><a href="/teams/OTT">OTT</a></li>
                <li><a href="/teams/TBL">TBL</a></li>
                <li><a href="/teams/TOR">TOR</a></li>
                <li role="separator" class="divider"></li>
                </ul>
                <ul class="list-unstyled col-sm-6">
                <li>Metropolitan</li>
                <li><a href="/teams/CAR">CAR</a></li>
                <li><a href="/teams/CBJ">CBJ</a></li>
                <li><a href="/teams/NJD">NJD</a></li>
                <li><a href="/teams/NYR">NYR</a></li>
                <li><a href="/teams/NYI">NYI</a></li>
                <li><a href="/teams/PHI">PHI</a></li>
                <li><a href="/teams/PIT">PIT</a></li>
                <li><a href="/teams/WSH">WSH</a></li>
                <li role="separator" class="divider"></li>
                </ul>
                <ul class="list-unstyled col-sm-6">
                <li>Central</li>
                <li><a href="/teams/DAL">DAL</a></li>
                <li><a href="/teams/CHI">CHI</a></li>
                <li><a href="/teams/COL">COL</a></li>
                <li><a href="/teams/MIN">MIN</a></li>
                <li><a href="/teams/NSH">NSH</a></li>
                <li><a href="/teams/STL">STL</a></li>
                <li><a href="/teams/WPG">WPG</a></li>
                </ul>
                <ul class="list-unstyled col-sm-6">
                <li>Pacific</li>
                <li><a href="/teams/ANA">ANA</a></li>
                <li><a href="/teams/ARI">ARI</a></li>
                <li><a href="/teams/CGY">CGY</a></li>
                <li><a href="/teams/EDM">EDM</a></li>
                <li><a href="/teams/LAK">LAK</a></li>
                <li><a href="/teams/SJS">SJS</a></li>
                <li><a href="/teams/VAN">VAN</a></li>
                </ul>
              </li>
              </ul>
            </li>
            <li><a href="#search">Players</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Blog</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
