  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="logo-mask">
              <img style="max-height:200px; margin-top:-80px;" src="/puckiq/img/<%= skin %>-puckiq.svg" />
            </div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle x-teams-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WoodMoney <span class="caret"></span></a>
                <%- include('_partials/team-dropdown', {page_type : 'woodmoney'}) %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle x-teams-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WoodWOWY <span class="caret"></span></a>
                <%- include('_partials/team-dropdown', {page_type : 'woodwowy'}) %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle x-teams-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shifts <span class="caret"></span></a>
                <%- include('_partials/team-dropdown', {page_type : 'shifts'}) %>
              </li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <script src="/puckiq/js/autocomplete.js"></script>
    <script>

      $(".x-teams-dropdown").click(function() {

        let filters = (getFilters && getFilters('team-menu')) || {};
        if(!filters.positions) delete filters.positions;
        if(filters.season === 'all') delete filters.season;
        if(filters.team || filters.team === '') delete filters.team;
        if(filters.player || filters.player === '') delete filters.player;

        $('.x-teams-dropdown-options a').each(function (index, e) {
          let $target = $(e);
          let href = '/woodmoney?team=' + $target.attr('data-team')  + '&' + $.param(filters);
          $target.attr("href", href);
        });

      });

    </script>
