  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: White; border-bottom: solid 1px #d3e0e9;">

      <div class="navbar-brand">

        <a class="navbar-item" href="/" style="height: 50px;">
          <div class="logo-mask">
            <img style="max-height:200px; margin-top:-80px;" src="/puckiq/img/<%= skin %>-puckiq.svg" />
          </div>
        </a>

        <div class="navbar-item has-dropdown is-hoverable" style="margin-left: -50px;">
          <a class="navbar-link">
            Woodmoney
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/woodmoney" style="justify-content: center; padding-top: 0.1em; padding-bottom: 0.1em;">
              Show All Teams
            </a>
            <%- include('_partials/team-dropdown', {page_type : 'woodmoney'}) %>
          </div>
        </div>

        <a href="/woodwowy" class="navbar-item" >
          WoodWOWY
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Shifts
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/shifts" style="justify-content: center; padding-top: 0.1em; padding-bottom: 0.1em;">
              Show All Teams
            </a>
            <%- include('_partials/team-dropdown', {page_type : 'shifts'}) %>
          </div>
        </div>

        <a href="/glossary" class="navbar-item">
          Glossary
        </a>

        <a href="/about" class="navbar-item">
          About
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="puckiq-nav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="puckiq-nav" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <div class="navbar-item" style="display: block; position: relative;">
            <input type="text" id="player-search" placeholder="Enter player name" class="input autocomplete-search" style="width: 250px; margin-top: 8px;" />
            <div class="autocomplete-results x-player-results" style="display:none; text-align: left;">
          </div>
        </div>


      </div>
    </nav>

    <script src="/puckiq/js/autocomplete.js"></script>
    <script>

      $(document).ready(function() {
        new addAutoComplete($('#player-search'), $('.x-player-results'));
      });

      $(".x-teams-dropdown").click(function(e) {

        let filters = (getFilters && getFilters('team-menu')) || {};
        if(!filters.positions) delete filters.positions;
        if(filters.season === 'all') delete filters.season;
        if(filters.team || filters.team === '') delete filters.team;
        if(filters.player || filters.player === '') delete filters.player;

        var page_type = $(e.target).attr('data-type');

        $('.x-teams-dropdown-options a').each(function (index, e) {
          let $target = $(e);
          let href = '/' + page_type + '?team=' + $target.attr('data-team')  + '&' + $.param(filters);
          $target.attr("href", href);
        });

      });

    </script>
