  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="logo-mask">
              <img style="max-height:200px; margin-top:-80px;" src="/puckiq/img/<%= skin %>-puckiq.svg" />
            </div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle x-teams-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
                <ul class="dropdown-menu columns-2 x-teams-dropdown-options">
                  <li>
                    <ul class="list-unstyled col-sm-6">
                      <li>Atlantic</li>
                      <li><a href="/teams/BOS" data-team="bos">BOS</a></li>
                      <li><a href="/teams/BUF" data-team="buf">BUF</a></li>
                      <li><a href="/teams/DET" data-team="det">DET</a></li>
                      <li><a href="/teams/FLA" data-team="fla">FLA</a></li>
                      <li><a href="/teams/MTL" data-team="mtl">MTL</a></li>
                      <li><a href="/teams/OTT" data-team="ott">OTT</a></li>
                      <li><a href="/teams/TBL" data-team="tbl">TBL</a></li>
                      <li><a href="/teams/TOR" data-team="tor">TOR</a></li>
                      <li role="separator" class="divider"></li>
                    </ul>
                    <ul class="list-unstyled col-sm-6">
                      <li>Metropolitan</li>
                      <li><a href="/teams/CAR" data-team="car">CAR</a></li>
                      <li><a href="/teams/CBJ" data-team="cbj">CBJ</a></li>
                      <li><a href="/teams/NJD" data-team="njd">NJD</a></li>
                      <li><a href="/teams/NYR" data-team="nyr">NYR</a></li>
                      <li><a href="/teams/NYI" data-team="nyi">NYI</a></li>
                      <li><a href="/teams/PHI" data-team="phi">PHI</a></li>
                      <li><a href="/teams/PIT" data-team="pit">PIT</a></li>
                      <li><a href="/teams/WSH" data-team="wsh">WSH</a></li>
                      <li role="separator" class="divider"></li>
                    </ul>
                    <ul class="list-unstyled col-sm-6">
                      <li>Central</li>
                      <li><a href="/teams/DAL" data-team="dal">DAL</a></li>
                      <li><a href="/teams/CHI" data-team="chi">CHI</a></li>
                      <li><a href="/teams/COL" data-team="col">COL</a></li>
                      <li><a href="/teams/MIN" data-team="min">MIN</a></li>
                      <li><a href="/teams/NSH" data-team="nsh">NSH</a></li>
                      <li><a href="/teams/STL" data-team="stl">STL</a></li>
                      <li><a href="/teams/WPG" data-team="wpg">WPG</a></li>
                    </ul>
                    <ul class="list-unstyled col-sm-6">
                      <li>Pacific</li>
                      <li><a href="/teams/ANA" data-team="ana">ANA</a></li>
                      <li><a href="/teams/ARI" data-team="ari">ARI</a></li>
                      <li><a href="/teams/CGY" data-team="cgy">CGY</a></li>
                      <li><a href="/teams/EDM" data-team="edm">EDM</a></li>
                      <li><a href="/teams/LAK" data-team="lak">LAK</a></li>
                      <li><a href="/teams/SJS" data-team="sjs">SJS</a></li>
                      <li><a href="/teams/VAN" data-team="van">VAN</a></li>
                      <li><a href="/teams/vgk" data-team="vgk">VGK</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!--<li><a href="#search">Players</a></li>-->
              <li><a href="/woodmoney">Players</a></li>
              <li><a href="/woodwowy">Wowy</a></li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="/about">About</a></li>
            </ul>
            <div style="text-align: right; height: 40px; display: inline-block; padding-left: 25px;">
              <div style="display: block; position: relative;">
                <input type="text" id="player-search" placeholder="Enter player name" class="autocomplete-search" style="width: 200px; margin-top: 8px;" />
                <div class="autocomplete-results x-player-results" style="display:none; text-align: left;">
                </div>
              </div>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <script src="/puckiq/js/autocomplete.js"></script>
    <script>

      $(document).ready(function() {
        new addAutoComplete($('#player-search'), $('.x-player-results'));
      });

      $(".x-teams-dropdown").click(function() {

        let filters = (getFilters && getFilters('team-menu')) || {};
        if(!filters.positions) delete filters.positions;
        if(filters.season === 'all') delete filters.season;

        $('.x-teams-dropdown-options a').each(function (index, e) {
          let $target = $(e);
          let href = '/teams/' + $target.attr('data-team');
          href += '?' + $.param(filters);
          $target.attr("href", href);
        });

      });

    </script>
