<%
  var glossary = {};

  getDisplayType = function (rtdisplay, pqdisplay) {
    var show = false;
    if (typeof pqdisplay !== 'undefined') {
      if (pqdisplay.indexOf(rtdisplay) > -1)
        show = true;
    } else {
      show = true;
    }
    return show;
  };

  buildDataTable = function(id, filter, data) {
    var fields = [
      {
        apiVar: 'pinfo.name',
        name: 'playername',
        dispName: 'Player Name',
        defn: 'Player Name',
        width: '200',
        group: 'required'
      },
      {
        apiVar: 'pinfo.positions',
        name: 'position',
        dispName: 'Pos',
        defn: 'Player Position',
        width: '50',
        group: 'required'
      },
      {
        apiVar: 'pinfo.team',
        name: 'team',
        dispName: 'Team',
        defn: 'Player Position',
        width: '50',
        group: 'required'
      },
      {
        apiVar: 'evtoi',
        name: 'evtoi',
        dispName: 'EVTOI',
        defn: 'Even Strngth Time on Ice',
        width: '75',
        group: 'required'
      },
      {
        apiVar: 'onoff',
        name: 'onoff',
        dispName: 'On/Off',
        defn: 'On Ice or Off Ice',
        width: '75',
        group: 'required'
      },
      {
        apiVar: 'woodmoneytier',
        name: 'comptier',
        dispName: 'Comp',
        defn: 'Competition Type',
        width: '50',
        group: 'required'
      },
      {
        apiVar: 'gf',
        name: 'gf',
        dispName: 'GF',
        defn: 'Goals For',
        width: '50',
        group: 'goals'
      },
      {
        apiVar: 'ga',
        name: 'ga',
        dispName: 'GA',
        defn: 'Goals Against',
        width: '50',
        group: 'goals'
      },
      {
        apiVar: 'gfpct',
        name: 'gfpct',
        dispName: 'GF%',
        defn: 'Goals For Percentage',
        width: '50',
        group: 'goals'
      },
      {
        apiVar: 'gf60',
        name: 'gf60',
        dispName: 'GF/60',
        defn: 'Goals For per 60 Minutes',
        width: '50',
        group: 'goals'
      },
      {
        apiVar: 'ga60',
        name: 'ga60',
        dispName: 'GA/60',
        defn: 'Goals Against per 60 Minutes',
        width: '50',
        group: 'goals'
      },
      {
        apiVar: 'cf',
        name: 'cf',
        dispName: 'CF',
        defn: 'Corsi For',
        width: '50',
        group: 'corsi'
      },
      {
        apiVar: 'ca',
        name: 'ca',
        dispName: 'CA',
        defn: 'Corsi Against',
        width: '50',
        group: 'corsi'
      },
      {
        apiVar: 'cfpct',
        name: 'cfpct',
        dispName: 'CF%',
        defn: 'Corsi For Percentage',
        width: '50',
        group: 'corsi'
      },
      {
        apiVar: 'cf60',
        name: 'cf60',
        dispName: 'CF/60',
        defn: 'Corsi For per 60 Minutes',
        width: '50',
        group: 'corsi'
      },
      {
        apiVar: 'ca60',
        name: 'ca60',
        dispName: 'CA/60',
        defn: 'Corsi Against per 60 Minutes',
        width: '50',
        group: 'corsi'
      },
      {
        apiVar: 'ff',
        name: 'ff',
        dispName: 'FF',
        defn: 'Fenwick For',
        width: '50',
        group: 'fenwick'
      },
      {
        apiVar: 'fa',
        name: 'fa',
        dispName: 'FA',
        defn: 'Fenwick Against',
        width: '50',
        group: 'fenwick'
      },
      {
        apiVar: 'ffpct',
        name: 'ffpct',
        dispName: 'FF%',
        defn: 'Fenwick For Percentage',
        width: '50',
        group: 'fenwick'
      },
      {
        apiVar: 'ff60',
        name: 'ff60',
        dispName: 'FF/60',
        defn: 'Fenwick For per 60 Minutes',
        width: '50',
        group: 'fenwick'
      },
      {
        apiVar: 'fa60',
        name: 'fa60',
        dispName: 'FA/60',
        defn: 'Fenwick Against per 60 Minutes',
        width: '50',
        group: 'fenwick'
      },
    ];
    
    var table = '',
      thead = '',
      tbody = '';
    
    table += '<table class="table table-hover table-bordered" cellspacing="0">';

    thead += '<thead><tr>';
    for(var x = 0; x < fields.length; x++) {
      thead += '<th class="pq-col-' + fields[x].width + '">';
      thead += fields[x].dispName;
      thead += '</th>';
    }
    thead += '</tr></thead>';
    table += thead;

    tbody += '<tbody>';

    tbody += '</tbody>';
    table += tbody;

    table += '</table>';

    return table;
  };
%>